.container {
  background-size: 100%;
  height: 100px;
  
  margin: 0 auto;
  padding: 10px;
}
.header{
	
	float: right;
	margin-right: 20px;
}
img{
	width: 100%;
	height: 500px;
}
.box{
	background-image: url('img/hiking1.jpg');
	background-size: 1000px;
}
